@media screen and (max-width:768px){
    .mode_dark{
    
            background-color:  #37383C;
            .blueline{
                display: none;
             
            }

        header{
            
            .navbar{
        
                span{
                    background-color: #FFFFFF;
                }
        
                .circulo_cruz>ul{
                    background: #000000;
                }
               
                a{
                    color: #FFFFFF;
                }
                #dark_mode{
                    color: #FFFFFF;
                }
                 .linea{
                     border: 1px solid #FFFFFF;
                
                 }
            }
        
        }

        .seccion1{
            
            h1{
                color: #FFFFFF;
            }

            .border_search{
            
                
               
                #buscador{
                    background-color: #37383C;
                    color: #9CAFC3;
                }
            
            }
        }
        .seccion2{
            h3{
                color: #FFFFFF;
            }
            p{
                color: #FFFFFF;
            }
        }
        .seccion3{
            background: #222326;
            
            h2{
                color: #FFFFFF;
            }
            P{
                color: #FFFFFF;
            }
        }
        footer{
            
            #compartir_enid{

                color: #FFFFFF;        
            }
            i>img{
                padding: 22px 20px 46px 0px;
            }
            #rightsid{
                font-family: 'Roboto', sans-serif;
                font-size: 14px;
                color: #FFFFFF;
                line-height: 20px;
                margin-bottom: 23px;
            }
    
        }
        .linea_azul_footer{
           display: none;
        }
    }    
}

@media screen and (min-width:1024px){
    .mode_dark{
    
        background-color:  #37383C;
       
        .blueline{
            display: none;
         
        }

    header{
        
        .navbar{
    
            span{
                background-color: #FFFFFF;
            }
    
            .circulo_cruz>ul{
                background: #000000;
            }
           
            a{
                color: #FFFFFF;
            }
            #dark_mode{
                color: #FFFFFF;
                cursor: pointer;
            }
            // .linea{
            //     border: 1px solid #FFFFFF;
            
            // }
        }
    
    }

    .seccion1{
        
        h1{
            color: #FFFFFF;
        }

        .border_search{
        
            
           
            #buscador{
                background-color: #37383C;
                color: #9CAFC3;
            }
        
        }
    }
    .seccion2{
        h3{
            color: #FFFFFF;
        }
        p{
            color: #FFFFFF;
        }
    }
    .seccion3{
        background: #222326;
        
        h2{
            color: #FFFFFF;
        }
        P{
            color: #FFFFFF;
        }
    }
    footer{
        
        #compartir_enid{

            color: #FFFFFF;        
        }
        i>img{
            padding: 22px 20px 46px 0px;
        }
        #rightsid{
            font-family: 'Roboto', sans-serif;
            font-size: 14px;
            color: #FFFFFF;
            line-height: 20px;
            margin-bottom: 23px;
        }

    }
    .linea_azul_footer{
       display: none;
    }
}    
}