
@media screen and (max-width:768px){

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: #FFFFFF ; /* Fallback color */
    background: rgba(255,255,255,0.90); /* Black w/ opacity */
}
/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}


/* Add Animation */
.modal-content{  
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

    /* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #572EE5;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}
.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

#options{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 14px;

    .usuario{
        h3{
            font-size: 15px;
            font-family:'Roboto', sans-serif; 

        }
        h2{
            font-size: 10px;
            font-family:'Montserrat', sans-serif;  
        }
        
    }

    .corazon{
        padding-right: 10px;
    }
    .borde_boton_descarga{
        width: 36px;
        height: 36px;
        opacity: 0.5;
        border: 1px solid #9CAFC3;
        border-radius: 6px;
    }
}

}

@media screen and (min-width:1024px){

/* The Modal (background) */

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: #FFFFFF ; /* Fallback color */
    background: rgba(255,255,255,0.90); /* Black w/ opacity */
}

/* Modal Content (image) */

.modal-content {
    margin: auto;
    display: block;
    width: 695px;
    height: 385px;
}


/* Add Animation */
.modal-content{  
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

    /* The Close Button */
.close {
    position: absolute;
    top: 0px;
    right: 229px;
    color: #572EE5;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

#options{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 27px;


    .usuario{

        h3{
            font-size: 15px;
            font-family:'Roboto', sans-serif; 
            margin-left: 80px;
            line-height: 40px;
        }

        h2{
            font-size: 10px;
            font-family:'Montserrat', sans-serif;  
            margin-left: 80px;
        }
        
    }

    .corazon{
        padding-right: 10px;
    }

    .borde_boton_descarga{
        width: 36px;
        height: 36px;
        opacity: 0.5;
        border: 1px solid #9CAFC3;
        border-radius: 6px;
        margin-right: 80px;
    }
}

// Modal termina aca



}