@media screen and (max-width:768px){
    .blueline{
        width: 100%;
        height: 5px;
        background: #572EE5;
    }
    header{
        margin: 15px 22px 17px 22px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        

        .logo2{
            display: none;
        }
        
        .navbar{
    
            input[type="checkbox"]{
                position: absolute;
                width: 16px;
                height: 24px;
                opacity: 0;
                z-index: 10;
    
                &:checked ~ .hamburguer_menu>ul{
                    opacity: 1;
                    height: 445px;
            }
        
            }
    
            span{
                width: 15px;
                height: 2px;
                background-color: #572EE5;
                display:block;
                margin-top: 4px;
            }
    
            .hamburguer_menu>ul{
                position: absolute;
                opacity: 0;
                top: 14.8%;
                width: 100%;
                left: 0 ;
                display: flex;
                flex-direction: column;
                background: rgba(87,46,229,0.90);           
                z-index: 10;
                height: 0;
                padding-top: 32px;
                list-style: none;
                
            }
            li {
                font-size: 15px;
                text-align: center;
                line-height: 30px;
                margin: 0 auto;
            }
            .cruz{
                display: none;
            }
            a{
                text-decoration: none;
                color: #FFFFFF;
                font-family: 'Montserrat', sans-serif;
                font-weight: bold;
            }
            #dark_mode{
                color: #FFFFFF;
                font-family: 'Montserrat', sans-serif;
                font-weight: bold;
            }
            .linea{
                opacity: 0.5;
                border: 1px solid #FFFFFF;
                width: 41px;
                display: block;
                margin: 11px auto 13.9px auto;
            }
        }
    
    }
}    
      @media screen and (min-width:1024px){
        .blueline{
            width: 100%;
            height: 5px;
            background: #572EE5;
        }
        header{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 20px 46px 100px 110px;
            .logo1{
                display: none;
            }

            nav{
                input{
                    display: none;
                }
            }
            ul{
                display: flex;
            }
            li{
                list-style: none;
                padding-right: 50px;
            }
            a{
                text-decoration: none;
                font-size: 18px;
                color: #572EE5;
                font-family: 'Montserrat', sans-serif;
                font-weight: bold;
            }
            #dark_mode{
                color: #572EE5;
                font-family: 'Montserrat', sans-serif;
                font-weight: bold;
                cursor: pointer;
            }

            .hamburguer_menu{
                display: flex;
                align-items: center;
            }
        
    }
      }